@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    overflow: hidden;
}

.login-box{
    position: absolute;
    top: 50%;
    left: 52%;
    width: 420px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 5);
    box-sizing: border-box;
    box-shadow: 0 15px, 25px rgba(0, 0, 0, 6);
    border-radius: 10px;
}

.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box{
    position: relative;
}

.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label{
position: absolute;
top: 0;
left: 0;
padding: 10px 0;
font-size: 16px;
color: #fff;
pointer-events: none;
transition: .5s;
}

.login-box .user-box input :focus label,
.login-box .user-box input :valid label{
top: -20px;
left: 0;
color: #03e9f4;
font-size: 12px;
}

.login-box form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box a:hover{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a span{
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1){
    top: 0;
    left: -100%;
    width:  100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: 1s linear infinite;
}






.bloque{
    width: 100vw;
    padding-top: 50px;
    flex-shrink: 0;
    height: 100vh;
}

header{
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    background-image: linear-gradient(to right, #0b3b65, rgb(79, 62, 62), #0b3b65);
    text-align: center;
}

header a{
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: bisque;
    padding: 10px;
    font-size: 20px;
    z-index: 2;
}

header span{
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 40px;
    border: 2px solid #ecedf1;
    border-radius: 50%;
    padding: 3px;
}

.icono-menu img{
    width: 40px;
    height: 40px;
}

.selected{
    color: rgb(57, 189, 17);
    transition: .3s;
}

#intro{
    background-image: url(../../img/fondo-inicio.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro .contenido h1{
    font-size: 4rem;
    text-align: center;
    color: #e7e7dd;
    text-shadow: 3px 3px 10px #494646;
    position: relative;
    animation: 3s aparecer forwards;
    padding-bottom: 80px;
}

@keyframes aparecer{
    0%{
        opacity: 0;
        top: 50px;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}
